@font-face {
    font-family: 'Circe';
    src: local('fonts/Circe Bold'), local('fonts/Circe-Bold'),
    url('fonts/Circe-Bold.woff2') format('woff2'),
    url('fonts/Circe-Bold.woff') format('woff'),
    url('fonts/Circe-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: local('fonts/Circe Regular'), local('fonts/Circe-Regular'),
    url('fonts/Circe-Regular.woff2') format('woff2'),
    url('fonts/Circe-Regular.woff') format('woff'),
    url('fonts/Circe-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: local('fonts/TT Norms Bold'), local('fonts/TT-Norms-Bold'),
    url('fonts/TTNorms-Bold.woff2') format('woff2'),
    url('fonts/TTNorms-Bold.woff') format('woff'),
    url('fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p, a {
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #6D7077;
}

button {
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #333333;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-family: TT Norms, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    color: #333333;
}

h2 {
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #131315;
}

/*Хэдер*/

.header {
    border: 1px solid transparent;
    border-bottom-color: #E8EAE7;
    margin-bottom: 30px;
}

.header__container {
    width: 1170px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__description {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    width: 164px;
    margin: 0 0 0 -105px;
}

nav {
    width: 322px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #464243;
}

.header__phone {
    font-weight: bold;
    font-size: 18px;
    color: #333333;
    margin: 0 -90px 0 0;
}

.header__button {
    width: 130px;
    height: 40px;
    background: #FAFAFA;
    border-radius: 134px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px;
}

.header__mobile {
    display: none;
}

.header__mobile--call {
    margin-left: 50px;
}

/*Карусель*/

.carousel {
    width: 1170px;
    height: 500px;
    background-image: url("images/main-product1.jpg");
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 40px 70px;
    position: relative;
}

.carousel__action {
    width: 74px;
    height: 30px;
    background: #FF794F;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.carousel__action p {
    color: white;
    font-size: 14px;
}

.carousel__items h1 {
    width: 470px;
    color: white;
    margin: 0 0 20px 0;
}

.carousel__items > p {
    font-size: 18px;
    color: #F0F1EE;
    margin-bottom: 30px;
}

.carousel__button {
    width: 200px;
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 134px;
}

.carousel__button--buy {
    color: #333333;
    background-color: white;
    margin: 0 20px 40px 0;
}

.carousel__button--menu {
    color: white;
    background-color: transparent;
}

.sliders {
    width: 105px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel__sliders .sliders__dot {
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 5px;
}

.sliders__dot:hover {
    cursor: pointer;
}

.carousel__sliders .sliders__dot--selected {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    opacity: 1;
}

.carousel_arrows {
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
}

.carousel_arrows:hover {
    cursor: pointer;
}

.carousel_arrows--left {
    left: -24px;
}

.carousel_arrows--right {
    right: -24px;
}

/*Как это работает*/

.how-it-works {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.how-it-works h1 {
    text-align: center;
    margin-bottom: 60px;
}

.how-it-works__container {
    display: flex;
    justify-content: space-around;
}

.how-it-works__item {
    display: flex;
    width: 232px;
    align-items: center;
    flex-direction: column;
}

.how-it-works__item h2 {
    margin: 16px 0 7px 0;
}

.how-it-works__item p {
    color: #6D7077;
    margin: 0;
    text-align: center;
}

.how-it-works__sliders {
    width: 40px;
    display: none;
    margin: 40px auto;
}

.how-it-works__sliders .sliders__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #DDDEDB;
}

.how-it-works__sliders .sliders__dot--selected {
    background: #A1A75C;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

/*Меню*/

.menu {
    width: 100%;
    height: 851px;
    background: #F9FCF9;
    padding-top: 80px;
}

.menu__heading {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.menu__heading h1 {
    text-align: center;
    margin: 0;
}

.menu__heading p {
    text-align: center;
    font-size: 18px;
    margin: 20px 0 30px 0;
}

.menu__arrows {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #DDDEDB;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
}

.menu__arrows:hover {
    cursor: pointer;
}

.menu__arrows--top-left {
    left: 0;
}

.menu__arrows--top-right {
    right: 0;
}

.menu__buttons-line {
    width: 950px;
    margin: 0 auto 25px;
}

.menu__food-categories {
    display: flex;
    justify-content: space-between;
    width: 950px;
}

.menu__button {
    width: 174px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #CECFCD;
    border-radius: 74px;
    color: #A1A75C;
    font-size: 18px;
}

.menu__button--selected {
    background: #A1A75C;
    border: none;
    color: white;
}

.menu__cards-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu__card {
    width: 370px;
    height: 480px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.menu__card--1 {
    background: url("images/cards-breakfast-01.png") no-repeat #FFFFFF;
}

.menu__card--2 {
    background: url("images/cards-breakfast-02.png") no-repeat #FFFFFF;
}

.menu__card--3 {
    background: url("images/cards-breakfast-03.png") no-repeat #FFFFFF;
}

.menu__tag47 {
    width: 57px;
    height: 30px;
    padding: 4px 12px;
    background: #A1A75C;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    position: absolute;
    right: 12px;
    top: 12px;
}

.menu__tag47 p {
    color: #FFFFFF;
    margin: 0;
}

.menu__tags > div {
    height: 24px;
    display: inline-block;
    padding: 3px 8px;
    margin: 215px 10px 0 0;
    background: #F0F1EE;
    border-radius: 4px;
}

.menu__tags > div p {
    font-size: 12px;
    margin: 0;
}

.menu__card h2 {
    color: #333333;
    margin: 15px 0;
}

.menu__cooking-board {
    width: 330px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0 20px 0;
    border: 1px solid transparent;
    border-bottom-color: #DDDEDB;;
}

.menu__cooking-board > p {
    font-size: 14px;
    color: #646365;
    display: inline-block;
    margin: 0 5px;
}

.menu__arrow-down {
    margin-right: 50px;
}

.menu__card-bottom {
    width: 330px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__card-bottom p {
    color: #646365;
    margin: 0 23px 0 7px;
}

.menu__card-button {
    font-size: 18px;
    padding-left: 40px;
    color: #646365;
    width: 140px;
    height: 44px;
    border-radius: 26px;
    background: url("images/menu-button.png");
    border: none;
}

.menu__card-button--selected {
    background: url("images/menu-button-selected.png");
    color: white;
    padding: 0 36px 0 0;
}

.menu__arrows--cards-left {
    top: 45%;
    left: -24px;
    border: 1px solid #F0F1EE;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.menu__arrows--cards-right {
    top: 45%;
    right: -24px;
    border: 2px solid #A1A75C;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.menu__arrows--cards-right-mobile, .menu__cooking-board-mobile, .menu__card-bottom-mobile {
    display: none;
}

/*Футер*/

.footer__container {
    width: 1170px;
    height: 244px;
    padding-top: 39px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__text-blocks h2 {
    color: #333333;
    margin: 0 0 20px 0;
}

.footer__text-blocks > a, .footer__text-blocks > p, .footer__last-block > p {
    font-size: 14px;
    line-height: 20px;
    color: #464243;
    margin: 0 0 10px 0;
    display: block;
}

.footer__text-blocks--3 {
    padding-top: 44px;
}

.form {
    margin: 20px 0;
    width: 270px;
    height: 44px;
    border: 1px solid #CDCFD5;
    border-radius: 22px;
    position: relative;
}

.form__email {
    font-family: Circe, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #878786;
    border: none;
    background: none;
    position: absolute;
    top: 10px;
    left: 16px;
}

.form__button {
    border: none;
    background: none;
    position: absolute;
    right: -4px;
}

.footer__socials a {
    margin-right: 15px;
}

.footer__socials--start {
    display: none;
}


/*Адаптив*/

@media all and (max-width: 1023px) {

    .header__description {
        display: none;
    }

    .header__container {
        width: 728px;
    }

    nav {
        width: 262px;
    }

    .header__phone {
        margin: 0 -30px 0 0;
    }

    .carousel {
        width: 728px;
        background-image: url("images/main-product1-tablet.jpg");
        padding: 40px;
    }

    .carousel__items h1 {
        width: 300px;
        font-size: 40px;
        line-height: 47px;
    }

    .carousel__items > p {
        width: 265px;
    }

    .carousel_arrows--left {
        left: -15px;
    }

    .carousel_arrows--right {
        right: -15px;
    }

    .how-it-works {
        width: 728px;
        margin-bottom: 80px;
    }

    .how-it-works__item {
        width: 207px;
    }

    .how-it-works h1 {
        font-size: 40px;
    }

    .how-it-works__item h2 {
        font-size: 16px;
    }

    .how-it-works__item p {
        font-size: 14px;
        line-height: 20px;
    }

    .how-it-works__item--hidden {
        display: none;
    }

    .how-it-works__sliders {
        display: flex;
    }

    .menu__buttons-line {
        width: 728px;
    }

    .menu__food-categories {
        width: 728px;
    }

    .menu__heading {
        width: 728px;
    }

    .menu__heading > p {
        font-size: 16px;
        line-height: 22px;
    }

    .menu__button {
        width: auto;
        padding: 0 28px;
    }

    .menu__card--3 {
        display: none;
    }

    .menu__cards-container {
        width: 728px;
    }

    .menu__card {
        width: 354px;
    }

    .footer__socials--start {
        display: inline-block;
    }

    .footer__socials--end {
        display: none;
    }

    .footer__container {
        width: 728px;
    }

}

@media all and (max-width: 767px) {

    .header__description, nav, .header__phone, .header__button {
        display: none;
    }

    .header__container {
        width: 300px;
    }

    .header__mobile {
        display: inline-block;
    }

    .header__logo {
        margin: -10px;
    }

    .carousel {
        width: 300px;
        height: 400px;
        background-image: url("images/main-product1-mobile.jpg");
        padding: 20px;
    }

    .carousel__action {
        margin-bottom: 10px;
    }

    .carousel__items h1 {
        font-size: 30px;
        line-height: 35px;
        width: 260px;
        margin: 0 0 5px 0;
    }

    .carousel__items > p {
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 0 0;
    }

    .carousel__button {
        display: none;
    }

    .carousel_arrows--left {
        left: 5px;
        top: 420px;
    }

    .carousel_arrows--right {
        right: 5px;
        top: 420px;
    }

    .carousel__sliders {
        margin: 0 auto;
        margin-top: 223px;
    }

    .carousel__sliders .sliders__dot {
        background: #DDDEDB;
    }

    .carousel__sliders .sliders__dot--selected {
        background: #A1A75C;
    }

    .how-it-works__sliders {
        display: none;
    }

    .how-it-works {
        margin-bottom: 60px;
        width: 250px;
    }

    .how-it-works h1 {
        font-size: 30px;
        margin: 60px 0 40px 0;
    }

    .how-it-works__container {
        display: block;
    }

    .how-it-works__item--hidden {
        display: flex;
    }

    .how-it-works__item {
        margin-bottom: 40px;
    }

    .menu__heading {
        width: 300px;
    }

    .menu__arrows--top-left, .menu__arrows--top-right {
        width: 32px;
        height: 32px;
    }

    .menu__arrows img {
        width: 50%;
    }

    .menu__heading h1 {
        font-size: 20px;
        width: 206px;
        line-height: 20px;
        margin: 0 auto;
    }

    .menu__heading > p {
        font-size: 14px;
        line-height: 20px;
        width: 212px;
        margin: 15px auto;
    }

    .menu__buttons-line {
        width: 300px;
    }

    .menu__food-categories {
        width: 570px;
    }

    .menu__button {
        font-size: 16px;
        height: 46px;
        padding: 0 21px;
        width: auto;
    }

    .menu__arrows--cards-left {
        display: none;
    }

    .menu__arrows--cards-right {
        width: 40px;
        height: 40px;
    }

    .menu__card {
        width: 290px;
        height: 463px;
    }

    .menu__card--3 {
        display: flex;
    }

    .menu__cards-mobile {
        width: 300px;
        margin: 0 auto;
        position: relative;
    }

    .menu__cards-container {
        width: 892px;
    }

    .menu__tags > div {
        margin: 215px 4px 0 0;
    }

    .menu__arrows--cards-right-mobile {
        display: flex;
        width: 40px;
        height: 40px;
        top: 45%;
        right: 0;
        border: 1px solid #F0F1EE;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    }

}
