/*координаты и визуальное оформление клеток карты 01*/

.cell-start--1 {
    left: 160px;
    top: 560px;
}

.cell-start--2 {
    left: 160px;
    top: 600px;
}

.cell-start--3 {
    left: 160px;
    top: 640px;
}

.cell-start--4 {
    left: 160px;
    top: 680px;
}

.cell--01 {
    left: 200px;
    top: 560px;
}

.cell--02 {
    left: 240px;
    top: 560px;
}

.cell--03 {
    left: 280px;
    top: 560px;
}

.cell--04 {
    left: 320px;
    top: 560px;
}

.cell--05 { /*ЖЕЛТАЯ*/
    left: 360px;
    top: 560px;
    background-color: #FCF327;
}
.cell--05 p {
    color: #A8A8A8;
}

.cell--06 {
    left: 400px;
    top: 560px;
}

.cell--07 {
    left: 440px;
    top: 560px;
}

.cell--08 {
    left: 480px;
    top: 560px;
}

.cell--09 {
    left: 480px;
    top: 520px;
}

.cell--10 {
    left: 480px;
    top: 480px;
}

.cell--11 {
    left: 480px;
    top: 440px;
}

.cell--12 {
    left: 520px;
    top: 440px;
}

.cell--13 { /*ЖЕЛТАЯ*/
    left: 560px;
    top: 440px;
    background-color: #FCF327;
}
.cell--13 p {
    color: #A8A8A8;
}

.cell--14 {
    left: 560px;
    top: 400px;
}

.cell--15 { /*ЧЕКПОЙНТ*/
    left: 560px;
    top: 360px;
    background-color: #94F2FF;
    box-shadow: inset 0 0 7px 4px rgba(70, 148, 158, 0.59);
}
.cell--15 p {
    color: #464646;
    font-weight: bold;
}
.cell--15 div {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid #464646;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell--16 {
    left: 560px;
    top: 320px;
}

.cell--17 { /*ЗЕЛЕНАЯ*/
    left: 560px;
    top: 280px;
    background-color: #28DD24;
}
.cell--17 p {
    color: #E7E7E7;
}

.cell--18 {
    left: 560px;
    top: 240px;
}

.cell--19 {
    left: 560px;
    top: 200px;
}

.cell--20 {
    left: 560px;
    top: 160px;
}

.cell--21 {
    left: 520px;
    top: 160px;
}

.cell--22 { /*ЖЕЛТАЯ*/
    left: 480px;
    top: 160px;
    background-color: #FCF327;
}
.cell--22 p {
    color: #A8A8A8;
}

.cell--23 {
    left: 440px;
    top: 160px;
}

.cell--24 {
    left: 400px;
    top: 160px;
}

.cell--25 { /*КРАСНАЯ*/
    left: 360px;
    top: 160px;
    background-color: #EF0000;
}
.cell--25 p {
    color: #B8B8B8;
}

.cell--26 { /*ЖЕЛТАЯ*/
    left: 360px;
    top: 200px;
    background-color: #FCF327;
}
.cell--26 p {
    color: #A8A8A8;
}

.cell--27 {
    left: 320px;
    top: 200px;
}

.cell--28 {
    left: 280px;
    top: 200px;
}

.cell--29 {
    left: 280px;
    top: 240px;
}

.cell--30 {
    left: 240px;
    top: 240px;
}

.cell--31 {
    left: 200px;
    top: 240px;
}

.cell--32 { /*ЗЕЛЕНАЯ*/
    left: 160px;
    top: 240px;
    background-color: #28DD24;
}
.cell--32 p {
    color: #E7E7E7;
}

.cell--33 {
    left: 160px;
    top: 280px;
}

.cell--34 {
    left: 160px;
    top: 320px;
}

.cell-finish {
    left: 160px;
    top: 360px;
}

.arrows {
    position: absolute;
}

.arrow-04to07 {
    left: 339px;
    top: 512px;
}

.arrow-11to15 {
    left: 500px;
    top: 373px;
}

.arrow-18to16 {
    left: 602px;
    top: 259px;
}

.arrow-19to21 {
    left: 535px;
    top: 121px;
}

.arrow-24to27 {
    left: 332px;
    top: 201px;
}

.arrow-34to31 {
    left: 201px;
    top: 283px;
}