* {
    box-sizing: border-box;
}

p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
}

.calc {
    width: 372px;
    height: 370px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: #9ca7bb;
    box-shadow: 2px 2px 6px 0 rgb(0, 0, 0), 1px 1px 3px 0 rgb(255, 255, 255) inset;
    border-radius: 3px;
    padding: 30px 0 0 20px;
}

.calc__screen {
    width: 332px;
    height: 40px;
    background-color: #152238;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.5) inset;
    border-radius: 1px;
    padding: 0 15px;
}

.calc__screen-p {
    line-height: 40px;
    text-align: right;
    font-size: 22px;
}

.calc__block {
    width: 332px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.calc__block-wrap {
    flex-wrap: wrap;
    align-content: space-between;
    height: 150px;
}

button {
    width: 60px;
    height: 40px;
    background: linear-gradient(to bottom, #ffffff, #cbcbcb);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 2px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    outline: none;
}

button:hover {
    cursor: pointer;
}

.calc__reset, .calc__back, .calc__num0, .calc__dot, .calc__equally {
    width: 80px;
}

.calc__dot {
    margin-left: -70px;
}

.calc__equally {
    background: linear-gradient(to bottom, #ffefc3, #a89958);
}

.calc__reset {
    background: linear-gradient(to bottom, #ffa8a8, #a55555);
}

.calc__screen-p {
    color: #e2e2e2;
}

.calc__pressed {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5) inset;
}