<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}<br>
        <div v-if="check">ЧекЧек</div><br>
        <button @click="showMe">Нажать</button>

        <ul>
            <li v-for="item in list">{{item.text}}</li>
        </ul>

        <form>
            <input type="text" placeholder="имя" v-model="formName"><br>
            <p>{{ nameError }}</p>
            <input type="text" placeholder="телефон" v-model="formPhone"><br>
            <p>{{ phoneError }}</p>
            <input type="text" placeholder="email" v-model="formEmail"><br>
            <p>{{ emailError }}</p>
        </form>
    </div>

    <div id="quiz">
        
    </div>

    <script>
        let quiz = new Vue({
            el: '#quiz',
            data: {
                q1: 'Сколько будет 2 + 2?',
                list1: [
                    {q1a: '0'},
                    {q1b: '2'},
                    {q1c: '4'},
                    {q1d: '5'},
                ],
                q2: 'Столица Великобритании?',
                list2: [
                    {q2a: 'Лондон'},
                    {q2b: 'Париж'},
                    {q2c: 'Стамбул'},
                    {q2d: 'Москва'},
                ],
            }
        });

        let app = new Vue({
            el: '#app',
            data: {
                message: 'Привет, Vue!',
                formName: '',
                formPhone: '',
                formEmail: '',
                nameError: '',
                phoneError: '',
                emailError: '',
                check: false,
                list: [
                    {text: 'Elem1'},
                    {text: 'Elem2'},
                    {text: 'Elem3'},
                    {text: 'Elem4'},
                ]
            },
            watch: {
                formName: function () {
                    if (this.formName.length < 3) {
                        this.nameError = 'имя не менее 3 символов';
                    } else {
                        this.nameError = '';
                    }
                },
                formPhone: function () {
                    if (/^[0-9]+$/.exec(this.formPhone)) {
                        this.phoneError = '';
                    } else {
                        this.phoneError = 'введите номер';
                    }
                },
                formEmail: function () {
                    if (/.+\@.+\..+/.exec(this.formPhone)) {
                        this.phoneError = '';
                    } else {
                        this.phoneError = 'введите номер';
                    }
                },
            },
            methods: {
                showMe: function () {
                    this.check = !this.check;
                },
                checkName: function () {
                    console.log('работает')

                },
            },
        })
    </script>
</body>
</html>

