<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}<br>
        <div v-if="check">ЧекЧек</div><br>
        <button @click="showMe">Нажать</button>

        <ul>
            <li v-for="item in list">{{item.text}}</li>
        </ul>

        <form>
            <input type="text" placeholder="имя" v-model="formName"><br>
            <p>{{ nameError }}</p>
            <input type="text" placeholder="телефон" v-model="formPhone"><br>
            <p>{{ phoneError }}</p>
            <input type="text" placeholder="email" v-model="formEmail"><br>
            <p>{{ emailError }}</p>
        </form>
    </div>

    <div id="quiz">

        <p v-if="next === 'q1'">{{ q1 }}</p>

        <form>
            <input class="inp1" type="radio" v-model="answer1">
            <label v-if="next === 'q1'">{{list1.var1}}</label>
        </form>

    </div>

    <div id="calc" class="my-calc">
        <p class="my-calc__price">Цена: {{ price }}</p>
        <label>Кол-во<input type="number" v-model="quantity"></label><br>
        <label>Валюта
            <select v-model="currency">
                <option>RUR</option>
                <option>EUR</option>
                <option>USD</option>
            </select>
        </label>
        <p class="my-calc__total-price">Финальная цена: {{ totalPrice }}</p>
    </div>

    <script>
        let calc = new Vue({
            el: '#calc',
            data() {
                return {
                    totalPrice: 1000,
                    price: 1000,
                    quantity: 1,
                    currency: 'RUR',
                    course: {
                        RUR: 1,
                        EUR: 99,
                        USD: 77,
                    },
                }
            },
            computed: {
                totalPrice: function () {
                    return this.quantity * this.priceSelectCurrency;
                },
                priceSelectCurrency: function () {
                    let res = this.course[this.currency];
                    // копировать код Ивана
                },
            },
        })


        let quiz = new Vue({
            el: '#quiz',
            data: {

                q1: 'Сколько будет 2 + 2?',
                list1: [
                    {var1: '0'},
                    {var2: '2'},
                    {var3: '4'},
                    {var4: '5'},
                ],

                q2: 'Столица Великобритании?',
                list2: [
                    {var1: 'Лондон'},
                    {var2: 'Париж'},
                    {var3: 'Стамбул'},
                    {var4: 'Москва'},
                ],

                next: 'q1',
            },
            watch: {
                answer1: function () {

                },
            },
        });

        let app = new Vue({
            el: '#app',
            data: {
                message: 'Привет, Vue!',
                formName: '',
                formPhone: '',
                formEmail: '',
                nameError: '',
                phoneError: '',
                emailError: '',
                check: false,
                list: [
                    {text: 'Elem1'},
                    {text: 'Elem2'},
                    {text: 'Elem3'},
                    {text: 'Elem4'},
                ]
            },
            watch: {
                formName: function () {
                    if (this.formName.length < 3) {
                        this.nameError = 'имя не менее 3 символов';
                    } else {
                        this.nameError = '';
                    }
                },
                formPhone: function () {
                    if (/^[0-9]+$/.exec(this.formPhone)) {
                        this.phoneError = '';
                    } else {
                        this.phoneError = 'введите номер';
                    }
                },
                formEmail: function () {
                    if (/.+\@.+\..+/.exec(this.formPhone)) {
                        this.phoneError = '';
                    } else {
                        this.phoneError = 'введите номер';
                    }
                },
            },
            methods: {
                showMe: function () {
                    this.check = !this.check;
                },
                checkName: function () {
                    console.log('работает')

                },
            },
        })
    </script>
</body>
</html>

