.button {
    width: 120px;
    height: 40px;
    background-color: #fcc964;
    border-radius: 10px;
    border: none;
    position: fixed;
}

body {
    margin: 0;
}

.popup {
    width: 400px;
    height: 200px;
    border: 2px solid red;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1010;
    display: none;
}

.popup h3 {
    text-align: center;
    font-family: sans-serif;
}

.close {
    width: 30px;
    height: 2px;
    background-color: red;
}

.close1 {
    transform: rotate(45deg);
    margin-top: 1px;
}

.close2 {
    transform: rotate(-45deg);
    margin: -2px 0 0 0;
}

.close__div {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 31px;
    height: 31px;
    border: 1px solid red;
    border-radius: 4px;
    padding: 0;
    background-color: transparent;
}

form input {
    display: block;
    width: 300px;
    margin: 0 auto 20px;
}

form input[name="button"] {
    width: 90px;
    height: 30px;
    margin: 0 auto;
    border-color: red;
    background-color: transparent;
}

.layout {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 1000;
    display: none;
}