#starway {

  section {
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  .details {
    display: flex;
    width: 1054px;
    justify-content: space-between;
    margin: 0 auto;

    &__left-panel {
      width: 378px;
      margin-top: 44px;

      .details__heading {
        display: flex;
        width: 100%;

        h2 {
          margin: 0 0 20px 0;
          font-size: 39px;
          letter-spacing: -0.02em;
          color: #313131;

          img {
            margin-left: 10px;
          }
        }

      }

      .details__cost {
        font-family: "Cormorant Unicase", sans-serif;
        font-size: 40px;
        letter-spacing: -0.02em;
        color: #313131;
        margin: 0 0 50px 0;
      }

      .details__action {
        width: 370px;
        height: 60px;
        background: #FFE2E2;
        border: 2px solid #FFB0B0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        p {
          font-family: Rubik, sans-serif;
          font-weight: bold;
          font-size: 12px;
          letter-spacing: 0.2em;
          color: rgba(49, 49, 49, 0.8);
        }
      }

      .details__size {
        display: flex;
        width: 340px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;

        p, a {
          font-family: Rubik, sans-serif;
          font-size: 16px;
          letter-spacing: 0.05em;
          color: rgba(49, 49, 49, 0.6);
          margin: 0;
        }

        a {
          text-decoration: none;
        }

        a:after {
          content: url("/images/icons/link-arrow.svg");
          margin-left: 6px;
        }
      }

      .details__color {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        div {
          border-radius: 100%;
        }
        .color__circle-out {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border: 2px solid rgba(49, 49, 49, 0.6);
          cursor: pointer;

          &--selected {
            border: 2px solid #313131;
          }

          .in {
            width: 24px;
            height: 24px;

            &--pink {
              background: #BC737A;
            }
            &--yellow {
              background: #EBCDAA;
            }
            &--black {
              background: black;
            }
            &--white {
              background: white;
            }
          }
        }
      }

      .details__buy {
        width: 240px;
        height: 60px;
        margin-bottom: 50px;
        background: #FFB0B0;
        outline: none;
        border: none;
        font-family: Rubik, sans-serif;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #313131;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          margin-left: 15px;
        }
      }

      nav {
        a {
          font-family: "Cormorant Unicase", serif;
          font-size: 25px;
          color: rgba(49, 49, 49, 0.8);
          margin-bottom: 35px;
          display: block;
          text-decoration: none;
        }
        a:after {
          content: url("/images/icons/link-arrow.svg");
          margin-left: 6px;
        }
      }
    } /*конец левой панели*/

    &__mini {
      width: 100px;
      margin-top: 44px;
      img {
        margin-bottom: 10px;
        cursor: pointer;
      }
      &--selected {
        outline: 2px solid #FFB0B0;
      }
    }

    &__slide {
      width: 500px;
      margin-top: 44px;
    }
  } /* конец details */

  .see-more {
    width: 1050px;
    margin: 100px auto;

    h3 {
      text-align: center;
      font-family: Rubik, sans-serif;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.2em;
      color: rgba(49, 49, 49, 0.8);
      margin: 0 0 80px 0;
    }

    &__cont {
      width: 1171px;
      display: flex;
      justify-content: space-between;
    }

    .cards {
      &__card img {
        margin-bottom: 20px;
      }

      &__card p {
        margin: 0;
        font-family: Rubik, sans-serif;
        letter-spacing: 0.05em;
      }

      &__name {
        font-weight: bold;
        font-size: 14px;
        color: #313131;
      }
      &__cost {
        font-size: 12px;
        color: rgba(49, 49, 49, 0.8);
      }
    }
  } /* конец see-more */

  .added {
    width: 740px;
    height: 584px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #FCF1F1;
    z-index: 1010;
    padding: 20px;

    h2 {
      margin: 45px 0;
      font-size: 40px;
      font-family: "Cormorant Unicase", serif;
      letter-spacing: -0.02em;
      color: #313131;
      font-weight: normal;
    }

  }

  .overlay {
    z-index: 1000;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }

}

