* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #333333;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

a, button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

button:hover {
    cursor: pointer;
}

.row > * {
    padding: 0;
}

/*Хэдер*/

.first-screen {
    width: 100%;
    height: 600px;
    background-image: url("img/first-screen-bg.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}

.first-screen__container {
    width: 510px;
}

.first-screen__phone {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 114px;
}

.first-screen__phone a {
    border-bottom: 2px solid #D1A954;
}

.first-screen__button {
    width: 160px;
    height: 50px;
    background-color: #D1A954;
    border: none;
}

.first-screen__title, .first-screen__description {
    margin: 0 0 50px 0;
}

nav {
    width: 690px;
    height: 25px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.first-screen__fixed-panel {
    width: 150px;
    height: 1045px;
    background: rgba(51, 51, 51, 0.75);
    display: none;
    position: absolute;
    top: 0;
    padding-bottom: 86px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.first-screen__contacts {
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first-screen__stripe {
    height: 80px;
    border-left: 3px solid #C4C4C4;
}

.first-screen__contacts p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
    transform: rotate(-90deg);
    width: 245px;
    margin-bottom: 117px;
}

.first-screen__sliderbox {
    margin-top: -117px;
    flex-direction: column;
    align-items: flex-start;
}

.sliderbox__flex {
    display: flex;
    width: 370px;
    height: 25px;
    justify-content: space-between;
    margin-top: 35px;
}

.sliderbox__flex p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #C4C4C4;
}

.sliderbox__p1 {
    margin: 0 110px 0 0;
}

.sliderbox__p2 {
    margin: 0;
}

/*Адаптив */

@media all and (min-width: 768px) {

    .first-screen {
        height: 800px;
    }

    .first-screen__container {
        width: 690px;
    }

    .first-screen__title, .first-screen__description {
        width: 540px;
    }

    .first-screen__phone {
        margin-bottom: 169px;
    }
}

@media all and (min-width: 992px) {

    .first-screen {
        height: 1045px;
    }

    .first-screen__phone {
        justify-content: center;
        margin-bottom: 169px;
    }

    .first-screen__fixed-panel {
        display: flex;
    }

    .first-screen__container {
        margin-left: 230px;
    }
}

@media all and (min-width: 1200px) {

    .first-screen__container {
        width: 1110px;
        margin: 0 auto;
    }

    .first-screen__phone {
        justify-content: flex-end;
        margin-bottom: 307px;
    }

}